@page "/profile"
@layout MainLayout
@inject NavigationManager NavigationManager
@inject UserService userService
@inject SessionService sessionService
@using USIMentorshipWebApp.Data;
@using USIMentorshipWebApp.Models;
@using System.Linq;

<PageTitle>Profile - USI Mentorship Program</PageTitle>

@*This is for layout of page*@     
<div class="container-fluid">
    <div class="fixed-column; justify-content-center">
        <center><h2>@loggedInUser.FullName</h2></center>
    <center> <RadzenImage Path="@loggedInUser.ProfilePicture" width="180" height="180" /></center>
    <center><RadzenUpload Url="upload/single" ChooseText="Change Profile Picture" Style="width:180px; text-align:center;" Accept="image/*"></RadzenUpload></center>
    </div>
    <div class="flex-column">
            <ProfileInfo />
    </div>
</div>


@code {
    private UsiMentorshipApplicationContext _context = new UsiMentorshipApplicationContext();
    User? loggedInUser;
    List<Role> userRoles;

    protected override async Task OnInitializedAsync() //On Page Load
    {
        loggedInUser = sessionService.SessionUser;
        if (loggedInUser == null)
        {
            NavigationManager.NavigateTo("/");
        }
        userRoles = sessionService.Roles;
    }


    RadzenUpload radzenUpload;

    void SignOut(MouseEventArgs args)
    {
        NavigationManager.NavigateTo("/");
    }
}
