@page "/profile"
@layout MainLayout
@inject NavigationManager NavigationManager
@inject UserService userService
@inject SessionService sessionService
@using USIMentorshipWebApp.Data;
@using USIMentorshipWebApp.Models;
@using System.Linq;

<PageTitle>Profile - USI Mentorship Program</PageTitle>

@*This is for layout of page*@     
<RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center">
    <div class="container">
        <div class="fixed-column; justify-content-center">
            <center><h2>@userProfile.FullName</h2></center>
                <CascadingValue Value="@userProfileId">
                <RadzenImage Path="@userProfile.ProfilePicutre" width="180" height="180" />
                </CascadingValue>
            <RadzenUpload Url="upload/single" ChooseText="Change Profile Picture" Style="width:180px; text-align:center;" Accept="image/*"></RadzenUpload>
        </div>
        <div class="flex-column">
            <CascadingValue Value="@userProfileId">
                <ProfileInfo />
            </CascadingValue>
        </div>
    </div>
</RadzenStack>
@* Go to admin page *@
<a href="/admin-portal">Click here to go to Admin page</a>


@code {
    private UsiMentorshipApplicationContext _context = new UsiMentorshipApplicationContext();
    int userProfileId;
    User userProfile = new User();

    protected override async void OnInitialized() //On Page Load
    {
        userProfileId = 1;
        userProfile = userService.GetUserByIdAsync(userProfileId);

        //userProfile = await userService.GetExampleMentorUser();
    }


    RadzenUpload radzenUpload;

    void SignOut(MouseEventArgs args)
    {
        NavigationManager.NavigateTo("/");
    }
}
