@page "/profile"
@layout MainLayout
@inject NavigationManager NavigationManager
@using USIMentorshipWebApp.Data
<PageTitle>Profile - USI Mentorship Program</PageTitle>

@*This is for layout of page*@     
<body>
    <div class="container">
        <div class="fixed-column; justify-content-center">
            <center><h2>John Smith</h2></center>
            @foreach (User user in UserData.users)
            {
                if (user.UserId == "U1")
                {
                    <CascadingValue Value="@user">
                    <RadzenImage Path="@user.ProfilePicturePath" width="180" height="180" />
                    </CascadingValue>
                }
            }
            <RadzenUpload Url="upload/single" ChooseText="Change Profile Picture" Style="width:180px; text-align:center;" Accept="image/*"></RadzenUpload>
        </div>
        <div class="flex-column">
            @foreach (User user in UserData.users)
            {
                if (user.UserId == "U1")
                {
                    <CascadingValue Value="@user">
                        <ProfileInfo />
                    </CascadingValue>
                }
            }
        </div>
    </div>
    @* Go to admin page *@
    <a href="/admin-portal">Click here to go to Admin page</a>
</body>


@code {
    RadzenUpload radzenUpload;

    void SignOut(MouseEventArgs args)
    {
        NavigationManager.NavigateTo("/");
    }
}
