@page "/"
@using Microsoft.AspNetCore.Components.Web
@namespace USIMentorshipWebApp.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="USIMentorshipWebApp.styles.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="/images/favicon-32x32.png"/>
    @* this Radzen stylesheet (below) can be changed and includes multiple different 
        themes for us to use throughout the application *@
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/default-base.css">
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
    @* Javascript for Radzen components *@
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
