@* This page will be eventually changed away from
    annoucements. For now, it is a placeholder 
    until we put a different page here.
*@
@page "/announcements"

<PageTitle>Announcements</PageTitle>

<h1>Announcements</h1>


@code {
    
}
