@page "/Chat"
@layout MainLayout
<PageTitle>Chat - USI Mentorship Program</PageTitle>

<!--Wrapper that wraps everything-->
<div class="wrapper">
    <!--The sidebar menu container-->
    <div class="sidebar">
        <div class="small-sidebar-heading-container">
            <h1 class="sidebar-title">Chat</h1>
            <p class="sidebar-subtitle">Get chatting with your mentors/mentees below!</p>
        </div>

        <!--Accounts that are connected with each other-->
        <div class="account-wrapper">
            <div class="small-account">
                <img src="images/jane-doe-profile-picture.png" alt="" class="image-circle" />
                <p>Kareem Kabur</p>
            </div>
            <div class="small-account">
                <img src="images/monica-johnson-mentee-profile-pciture.png" alt="" class="image-circle" />
                <p>Micelle myers</p>
            </div>
            <div class="small-account">
                <img src="images/shawn-smith-profile-picture.png" alt="" class="image-circle" />
                <p>Joshie Natashie</p>
            </div>
        </div>
     </div>

    <!--Message section-->
    <div class="message-wrapper">

        <div @onclick="ToggleNavMenu">
            <span class="oi oi-menu hamburger-menu"></span>
        </div>


        <div class="message-area">
            <div class="message-recieved">Messages Recieved</div>
            <div class="message-sent">Messages sent</div>
        </div>

        <div class="message-input">
            <input type="text" placeholder="Type your message..." />
            <button>Send</button>
        </div>
    </div>
</div>

@*The following are styles for the hamburger menu *@
<div class="@NavMenuCssClass column default-margin ">


    <div @onclick="ToggleNavMenu">
        <span class="oi oi-x hamburger-menu small-menu"></span>
    </div>


    <div class="small-sidebar-heading-container">
        <h1 class="sidebar-title">Chat</h1>
        <p class="sidebar-subtitle">Get chatting with your mentors/Mentees below!</p>
    </div>

    <!--Accounts that are connected with each other-->
    <div class="account-wrapper">
        <div class="small-account">
            <img src="images/jane-doe-profile-picture.png" alt="" class="image-circle" />
            <p>Kareem Kabur</p>
        </div>
        <div class="small-account">
            <img src="images/monica-johnson-mentee-profile-pciture.png" alt="" class="image-circle" />
            <p>Micelle myers</p>
        </div>
        <div class="small-account">
            <img src="images/shawn-smith-profile-picture.png" alt="" class="image-circle" />
            <p>Joshie Natashie</p>
        </div>
    </div>

</div>

@code {
    private bool IsCollapsed = true;

    private string? NavMenuCssClass => IsCollapsed ? "hamburger-collapsed" : "hamburger-expanded";

    private void ToggleNavMenu()
    {
        IsCollapsed = !IsCollapsed;
    }


}

