@page "/"
@layout NotLoggedInLayout
@inject NavigationManager NavigationManager


<PageTitle>Login - USI Mentorship Program</PageTitle>

<div class="our-row">
    @* COLUMN FOR IMAGE *@
    <div class="image-column">
        <img src="images/student-mentor-looking-at-taxes.jpg" alt="Student and Mentor looking at taxes">
    </div>
    <div class="login-column-container">
        @* LOGIN HEADING *@
        <h1 class="default-margin">Login</h1>

        @* SECOND COLUMN FOR LOGIN INFO *@
        <div class="login-column">
            @* RADZEN LOGIN CARD *@
            <RadzenCard Class="rz-shadow-0">
                <img src="images/usi-logo-mentorship-program.png" alt="Student and Mentor looking at taxes">
                <RadzenTemplateForm Data=@("SimpleLogin") Action="">
                    <RadzenLogin AllowRegister="false" AllowResetPassword="true" />
                </RadzenTemplateForm>
                @* href to go to the login page *@
                <a href="/mentor-match">Click here to go to mentor match.</a>
            </RadzenCard>
        </div>
    </div>
</div>



@code {
    string userName = "admin";
    string password = "admin";
    bool rememberMe = true;

    void OnLogin(LoginArgs args, string name)
    {
    }

    void OnRegister(string name)
    {
    }

    void OnResetPassword(string value, string name)
    {
    }

    void GoToMentorMatch(MouseEventArgs args)
    {
        NavigationManager.NavigateTo("/mentor-match");
    }
}