@page "/"
@using USIMentorshipWebApp.Models;
@using BlazorServerAuthenticationAndAuthorization.Authentication
@layout NotLoggedInLayout
@inject NavigationManager NavigationManager
@inject UserService UserService
@inject IJSRuntime js;
@inject AuthenticationStateProvider authStateProvider
@inject UserService userService


@using USIMentorshipWebApp.Data

<PageTitle>Login - USI Mentorship Program</PageTitle>

<div class="our-row">
    @* COLUMN FOR IMAGE *@
    <div class="image-column">
        <img src="images/student-mentor-looking-at-taxes.jpg" alt="Student and Mentor looking at taxes">
    </div>
 <div class="login-column-container">
        <h1 class="default-margin">Login</h1>
        <div class="login-column">
                <EditForm Model="@loginModel" OnValidSubmit="@OnLogin">
                <img src="images/usi-logo-mentorship-program.png" alt="Student and Mentor looking at taxes">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <InputText id="email" class="form-control" @bind-Value="@loginModel.Email" />
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <InputText id="password" class="form-control" @bind-Value="@loginModel.Password" />
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                <a href="/mentor-match">Click here to go to mentor match.</a>
                </EditForm>
        </div>
    </div>
</div>



@code {
     LoginModel loginModel = new LoginModel();

    private async Task OnLogin()
    {
        var user = userService.GetUserByEmailAndPassword(loginModel.Email, loginModel.Password);
        if (user == null || user.Password != loginModel.Password)
        {
            await js.InvokeVoidAsync("alert", "Invalid User Name or Password");
            return;
        }

        // var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
        // await customAuthStateProvider.UpdateAuthenticationState(new UserSession
        // {
        //     UserName = user.EmailAddress,
        //     Role = user.Role
        // });
        else
        {
            // Implement user feedback for failed login
        }

        NavigationManager.NavigateTo("/mentor-match");
    }

    void OnRegister(string name)
    {
    }

    void OnResetPassword(string value, string name)
    {
    }

    void GoToMentorMatch(MouseEventArgs args)
    {
        NavigationManager.NavigateTo("/mentor-match");
    }
}