@page "/mentor-match"

<PageTitle>Mentor Match - USI Mentorship Program</PageTitle>

<h1>Mentor Match</h1>


<RadzenDropDown @bind-Value=@value Data=@companyNames Style="width: 100%; max-width: 400px;" Name="DropDownBindValue" />


<a href="/fetchdata">
    To see an example of a UI that uses .cs code <br>
    click this tag to navigate to a Fetch Data page. <br>
    This page is FetchData.razor in th Pages folder <br>
    and the code for is WeatherForecast.cs and <br>
    WeatherForecastService.cs in the Data folder.
</a>

@code {
    string value = "Industry:";

    string[] companyNames = new string[] 
    {
        "Computer Science", "Business", "Marketing", "Nursing" 
    };
    
}