@using USIMentorshipWebApp.Data;
@using USIMentorshipWebApp.Models;
@using USIMentorshipWebApp.Pages.Chat;
@inject UserService userService;

@page "/testing"
@layout MainLayout

<PageTitle>Testing - USI Mentorship Program</PageTitle>

<h1>Testing Page</h1>
<h5>Put code in here that you need to test. Sandbox basically. Thanks! - Josh D</h5>

<UserChatSidebarCard user="@exampleUser"/>
<SenderMessage user="@exampleUser"/>
<RecieverMessage user="@exampleUser" />


@code {
    User? exampleUser;

    protected override void OnInitialized()
    {
        // userService from above
        exampleUser = userService.GetExampleMentorUser();
    }
}