@using USIMentorshipWebApp.Data;
@using USIMentorshipWebApp.Models;
@using USIMentorshipWebApp.Pages.Chat;
@inject UserService userService;
@inject ChatService chatService;

@page "/testing"
@layout MainLayout

<PageTitle>Testing - USI Mentorship Program</PageTitle>

<h1>Testing Page</h1>
<h5>Put code in here that you need to test. Sandbox basically. Thanks! - Josh D</h5>

<div class="profile-image">
@*     <RadzenImage Path=@user.ProfilePicutre />
 *@</div>


@code {
    User? exampleUser;

    protected override async Task OnInitializedAsync()
    {
        // userService from above
        exampleUser = await userService.GetExampleMentorUser();
    }
}