@* This is the mentor match page! *@
@page "/mentor-match"
@layout MainLayout

<PageTitle>Mentor Match - USI Mentorship Program</PageTitle>

<h1>Mentor Match</h1>
<h6>Find the right mentor for you with the options below!</h6>

<MentorMatchSearchFields/>

<MentorResultCard/>

@code {
    
}