@* This is the mentor match page! *@
@page "/mentor-match"
@layout MainLayout
@using USIMentorshipWebApp.Data
@using USIMentorshipWebApp.Models
@inject SessionService sessionService
@inject NavigationManager navigationManager


<PageTitle>Mentor Match - USI Mentorship Program</PageTitle>

<h1>Mentor Match</h1>

@if (userRoles.Any(role => role.RoleName == "Mentee" || role.RoleName == "Admin"))
{
    <h6>Find the right mentor for you with the options below!</h6>
    <MentorMatchSearchFields />
}

@if (userRoles.Any(role => role.RoleName == "Mentor"))
{
    <h4 style="color:red;">Sorry, you cannot see Mentor Match as a Mentor.</h4>
}

@code {
    List<Role> userRoles;
    User? loggedInUser;

    protected override async Task OnInitializedAsync()
    {
        loggedInUser = sessionService.SessionUser;
        if (loggedInUser == null)
        {
            navigationManager.NavigateTo("/", true);
        }
        userRoles = sessionService.Roles; 
    }
}