@* This is the mentor match page! *@
@page "/mentor-match"
@layout MainLayout
@using USIMentorshipWebApp.Data
@using USIMentorshipWebApp.Models
@inject SessionService sessionService

@*
    Make sure to add css to where display is none on the mobile mockup for
    the details. The user can then click the mentor to see more details.
    Maybe add a search button to this page so the database is queried
    less?
*@

<PageTitle>Mentor Match - USI Mentorship Program</PageTitle>

<h1>Mentor Match</h1>

@if (userRoles.Any(role => role.RoleName == "Mentee"))
{

    <h6>Find the right mentor for you with the options below!</h6>
    <MentorMatchSearchFields />
}

@if (userRoles.Any(role => role.RoleName == "Mentor"))
{
    <h4 style="color:red;">Sorry, you cannot see Mentor Match as a Mentor.</h4>
}

@code {
    List<Role> userRoles;
    User loggedInUser;

    protected override void OnInitialized()
    {
        loggedInUser = sessionService.SessionUser;
        userRoles = sessionService.Roles; 
    }
}