@inherits LayoutComponentBase

<div class="header-bar">
    <div class="logo">
        <a href="/">
            <img src=images/usi_logo.png alt="USI-Logo">
        </a>
    </div>

    @* Shows when the screen width is smaller *@
    <div class="logo-small">
        <a href="/">
            <img src=images/usi-logo-small.png alt="USI-Logo-Small">
        </a>
    </div>
    <div class="header-items-container">
        <a class="header-item" href="/sign-up-landing-page">Sign Up</a>
    </div>
</div>

@code {

}
