<div class="header-bar">
    <div class="logo">
        <img src=images/usi_logo.png alt="USI-Logo">
    </div>
    <div class="header-items-container">
        <a class="header-item" href="/mentor-match">Mentor Match</a>
        <a class="header-item" href="/">Chat</a>
        <a class="header-item" href="/schedule-meeting">Schedule Meeting</a>
        <a class="header-item" href="/announcements">Announcements</a>
        <a class="header-item" href="/profile">Profile</a>
    </div>
</div>

@code {

}
