.header-bar {
    display: flex;
    background-color: #002856;
    align-items: center;
    padding: .7rem;
    width: 100%;
    min-height: 70px;
    position: sticky;
}

/* Shows big logo when width is above 860px */
.logo {
    display: block;
}

/* Does not show small logo when width is above 860px */
.logo-small {
    display: none;
}

.header-item {
    color: white;
    font-size: 21px;
    text-decoration: none;
}

    .header-item:hover {
        text-decoration: underline;
    }

    .header-item:active {
        text-decoration: underline;
    }

.header-items-container {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

@media (max-width:860px) {
    /* Does not show big logo when width is below 860px */
    .logo {
        display: none;
    }

    /* Shows small logo when width is below 860px */
    .logo-small {
        display: block;
    }
}
