.header-bar {
    display: flex;
    background-color: #002856;
    align-items: center;
    padding: 15px;
    width: 100%;
    height: 70px;
}

/* Does not show small logo when width is above 330px */
.logo-small {
    display: none;
}

.logo {
    display: block;
}

/* each item for the main top navbar */
.header-item {
    display: flex;
    color: white;
    font-size: 18px;
    text-decoration: none;
}

/* each item for the sidebar navbar*/
.hamburger-menu-item {
    color: white;
    font-size: 23px;
    text-decoration: none;
}

/* logout item on sidebar navbar */
.hamburger-menu-item-logout {
    color: red;
    font-size: 23px;
    text-decoration: none;
    position: absolute;
    bottom: 0;
}

/* attributes applied to the hamburger icon */
.hamburger-icon {
    display: block;
    color: white;
    font-size: 23px;
}

    .hamburger-icon:hover {
        cursor: pointer;
    }

.hamburger-collapsed {
    /* Never collapse the sidebar for wide screens */
    display: none;
}

.hamburger-expanded {
    /* Never collapse the sidebar for wide screens */
    position: fixed;
    top: 0px; /* offesets 70px (height of header bar) from the top */
    left: 0;
    width: 320px;
    height: 100%;
    background-color: #002856;
    z-index: 9999; /* Ensure the overlay is on top */
}

.header-items-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
}

/* this class is meant to mimic the header bar but only for the USI image */
/* the sidebar is actually has the USI logo at the top. It just shows over the logo below it */
/* this makes two logos. One on the top of the sidebar, and one technically under it, on the main navbar */
/* needs same padding and everything so it doesn't change when sidebar comes out */
.logo-header-bar-for-sidebar {
    align-items: center;
    background-color: #002856;
    padding:15px;
    height: 70px;
    display:flex;
}

/* this class is meant to mimic the header bar but only for the USI image */


@media (max-width:995px) {
    /* Do not show header items when width is below 995px */
    .header-item {
        display:none;
    }

    /* pushes everything left to the end of the header bar */
    .header-items-container {
        justify-content: flex-end;
    }
}

@media (max-width:355px) {
    /* Do not show big logo when resolution less tha 355px */
    .logo-small {
        display: block;
    }

    .logo {
        display:none; 
    }
}