@inherits LayoutComponentBase

<PageTitle>USIMentorshipWebApp</PageTitle>

<NavMenuNoPages />
<main>
    @* used to have height scrollable here for the class *@
    <div class="">
        @* used to have a default margin in this class *@
        <div class="">
            @Body
        </div>
    </div>
</main>