@inherits LayoutComponentBase

<PageTitle>USIMentorshipWebApp</PageTitle>

<NavMenuNoPages />
<main>
    <div class="height-scrollable">
        <div class="default-margin">
            @Body
        </div>
    </div>
</main>