@inject NavigationManager NavigationManager
@inject DialogService DialogService
@using USIMentorshipWebApp.Data;
@using USIMentorshipWebApp.Models
@using System.Linq;
@using USIMentorshipWebApp.Shared.FullProfileInfo;
@using USIMentorshipWebApp.Shared.RequestMentorship;

@*******************Approved Requests For Mentees******************@
<body>
    <h5 style="color:forestgreen">Approved Requests</h5>
    <CascadingValue Value="@Mentor">
        <RequestsResultCard3></RequestsResultCard3> @*LOAD REQUESTS FUNCTION WILL GO HERE*@
    </CascadingValue>
</body>

@*******************Pending Requests For Mentees******************@
<body>
    <h5 style="color:dodgerblue">Pending Requests</h5>
    <CascadingValue Value="@Mentor">
        <RequestsResultCard3></RequestsResultCard3>
    </CascadingValue>
</body>

@*******************Not sure this one is staying******************@
<body>
    <h5 style="color:grey">Past Requests</h5>
    <CascadingValue Value="@Mentor">
        <RequestsResultCard3></RequestsResultCard3>
    </CascadingValue>
</body>

@code {

    [CascadingParameter]
    public UserOld Mentor { get; set; }

    void LoadRequests()
    {
        foreach (UserOld user in UserData.users) //This will be from a list of mentors they have requested connected to their profile, not UserData.users
        {
        
        }
    }

}
