@page "/requests"
@layout MainLayout
@inject NavigationManager NavigationManager
@inject UserService userService
@inject SessionService sessionService
@using USIMentorshipWebApp.Data
@using USIMentorshipWebApp.Models
@using System.Linq;

<PageTitle>Requests - USI Mentorship Program</PageTitle>

<h1>Requests</h1>
<h6>View your approved, pending, and denied requests</h6>
<CascadingValue Value="@userProfileId">
    @if (roleId == 2) //Mentee
    {
        <MenteeRequestsLayout />    
    }
    else if (roleId == 1) //Mentor
    {
        <MentorRequestsLayout />
    }
</CascadingValue>
   
   


@code {

    private UsiMentorshipApplicationContext _context = new UsiMentorshipApplicationContext();
    User userProfile = new User();
    int userProfileId;
    public int? roleId;
    public List<User> userList;

    protected override async void OnInitialized() //On Page Load
    {
        // userList = _context.Users.ToList();
        // foreach (User user in userList)
        // {
        //     if (user.UserId == 1)
        //     {
        //         userProfile = user;
        //         userProfileId = user.UserId;
        //     }

        // }

        userProfile = await userService.GetExampleMentorUser();

        roleId = _context.UserRoles
                              .Where(ur => ur.UserId == userProfile.UserId)
                              .Select(ur => ur.RoleId)
                              .FirstOrDefault();
    }

}
