@page "/requests"
@layout MainLayout
@inject NavigationManager NavigationManager
@inject UserService userService
@inject SessionService sessionService
@using USIMentorshipWebApp.Data
@using USIMentorshipWebApp.Models
@using System.Linq;

<PageTitle>Requests - USI Mentorship Program</PageTitle>

<h1>Requests</h1>
<h6>View your approved, pending, and denied requests</h6>
    @if (userRoles.Any(role => role.RoleName == "Mentee")) //Mentee
    {
        <MenteeRequestsLayout />    
    }
    else if (userRoles.Any(role => role.RoleName == "Mentor")) //Mentor
    {
        <MentorRequestsLayout />
    }
   


@code {

    private UsiMentorshipApplicationContext _context = new UsiMentorshipApplicationContext();
    List<Role> userRoles;
    User? loggedInUser;
    public List<User> userList;

    protected override async Task OnInitializedAsync() //On Page Load
    {
        loggedInUser = sessionService.SessionUser;
        if (loggedInUser == null)
        {
            NavigationManager.NavigateTo("/");
        }
        userRoles = sessionService.Roles;     
    }

}
