@page "/requests"
@layout MainLayout
@inject NavigationManager NavigationManager
@using USIMentorshipWebApp.Data

<PageTitle>Requests - USI Mentorship Program</PageTitle>

<h1>Requests</h1>
<h6>View your approved, pending, and denied requests</h6>
@foreach (UserOld user in UserData.users)  @*Will need to create a field for mentee or mentor, as well as field for entering mentee/mentors to be displayed*@
{
    @if (user.UserId == "U1")
    {
        <CascadingValue Value="@user">
            @if (user.Role == "Mentee") 
            {
                <MenteeRequestsLayout />    
            }
            else if (user.Role == "Mentor")
            {
                <MentorRequestsLayout />
            }
        </CascadingValue>
    }
    }


@code {

}
