@page "/Chat"
@layout MainLayout
@using USIMentorshipWebApp.Data;
@using USIMentorshipWebApp.Models;
@inject UserService userService; 

<PageTitle>Chat - USI Mentorship Program</PageTitle>

<!--row-->
<div style="display:flex; align-items:stretch;">
    <!--SIDEBAR FOR CHATS-->
    <!--Column-->
    <div class="@SidebarCssClass height-scrollable">
        @* X BUTTON *@
        <div @onclick="ToggleNavMenu" style="text-align:right;">
            <span class="oi oi-x"></span>
        </div>

        @* CHAT HEADING*@
        <h1>Chat</h1>
        <h6>Get started chatting with mentors below!</h6>

        <UserChatSidebarCard user="exampleMentor"/>
        <UserChatSidebarCard user="exampleMentor" />
        <UserChatSidebarCard user="exampleMentor"/>
        <UserChatSidebarCard user="exampleMentor"/>
        <UserChatSidebarCard user="exampleMentor"/>
        <UserChatSidebarCard user="exampleMentor"/>
        <UserChatSidebarCard user="exampleMentor"/>

    </div>

    @if (IsCollapsed == true)
    {
        @* MENU BUTTON *@
        <div class="small-sidebar">
            <div @onclick="ToggleNavMenu" style="text-align:right; font-size:24px;">
                <span class="oi oi-menu"></span>
            </div>
        </div>
    }

<!--MESSAGES-->
    <!--column-->
    <div class="main-column">
        <!--row-->
        <div class="messages-column height-scrollable">
            <div style="justify-content:flex-end;" class="main-row">
                <SenderMessage user="exampleMentee"/>
            </div>
            <div style="justify-content:flex-start;" class="main-row">
                <RecieverMessage user="exampleMentor" />
            </div>
            <div style="justify-content:flex-end;" class="main-row">
                <SenderMessage user="exampleMentee" />
            </div>
            <div style="justify-content:flex-start;" class="main-row">
                <RecieverMessage user="exampleMentor" />
            </div>
            <div style="justify-content:flex-end;" class="main-row">
                <SenderMessage user="exampleMentee" />
            </div>
            <div style="justify-content:flex-start;" class="main-row">
                <RecieverMessage user="exampleMentor" />
            </div>
            <div style="justify-content:flex-end;" class="main-row">
                <SenderMessage user="exampleMentee" />
            </div>
        </div>
        
        <div class="main-column-input" style="padding:5px;">
            <RadzenStack Orientation="Orientation.Horizontal">
                <RadzenTextArea MaxLength="300" @bind-Value=@inputtedMessage class="w-100" aria-label="TextArea with 300 maximum characters" />
                <RadzenButton Style="width:80px; font-size:14px;" Variant="Variant.Outlined" ButtonStyle="ButtonStyle.Secondary" Click=@SendChat Text="Send" />
            </RadzenStack>
            <h6 class="side-note">Note: If you don't immediately see a message, refresh the page</h6>
        </div>
    </div>


</div>

@code {
    User exampleMentor;

    User exampleMentee;

    protected override void OnInitialized()
    {
        // userService from above
        exampleMentor = userService.GetExampleMentorUser();

        //exampleMentee
        exampleMentee = userService.GetExampleMenteeUser();
    }

    public string inputtedMessage;

    #region Collapsing the Sidebar
    private bool IsCollapsed = false;

    private string? SidebarCssClass => IsCollapsed ? "dont-show" : "sidebar";

    private void ToggleNavMenu()
    {
        IsCollapsed = !IsCollapsed;
    }
    #endregion

    public void SendChat()
    {
        
    }
}

