/* Resetting some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

/* Navbar styles */
.navbar {
    height: 10vh; /* 10% of the viewport height */
    background-color: #2c3e50;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Container for sidebar and chat */
.container {
    display: flex;
    height: 90vh; /* 90% of the viewport height */
}

/* Sidebar styles */
.sidebar {
    width: 20%; /* 20% of the container width */
    background-color: #fff;
    padding: 20px;
    overflow-y: auto; /* Enable scrolling if content exceeds sidebar height */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.account {
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #2c3e50;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .account:hover {
        background-color: #2c3e50;
    }

    .account:last-child {
        border-bottom: none;
    }

/* Chat styles */
.chat {
    flex: 1; /* Occupy remaining width */
    padding: 20px;
    background-color: #ecf0f1;
    overflow-y: auto; /* Enable scrolling if content exceeds chat height */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: -2px 0 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.message {
    margin-bottom: 20px;
}

.message-input {
    margin-top: auto; /* Push to the bottom */
    padding: 20px; /* Add padding for spacing */
    display: flex;
    align-items: center; /* Align items horizontally */
    justify-content: end;
}

    .message-input input[type="text"] {
        flex: 1; /* Occupy remaining space */
        padding: 10px;
        border: 2px solid #ccc;
        border-radius: 20px;
        outline: none;
        margin-right: 10px;
        background-color: #f5f5f5;
        font-size: 16px;
        color: #333;
        transition: border-color 0.3s;
    }

        .message-input input[type="text"]::placeholder {
            color: #999;
        }

        .message-input input[type="text"]:focus {
            border-color: #3498db;
        }

    .message-input button {
        padding: 10px 20px;
        background-color: #3498db;
        border: none;
        border-radius: 20px;
        color: #fff;
        cursor: pointer;
        outline: none;
        transition: background-color 0.3s;
    }

        .message-input button:hover {
            background-color: #2980b9;
        }
