<div class="column mb-2">
    <label>@Label</label>
        <RadzenDropDown @bind-Value=@SelectedValue Data=@DropdownData AllowClear=true Style="max-width:160px;"/>
</div>

@code {
    [Parameter]
    public string SelectedValue { get; set; }

    [Parameter]
    public List<string> DropdownData { get; set; }

    [Parameter]
    public string Label { get; set; }

}
