<div class="column">
    <label>@Label</label>
    <RadzenDropDown @bind-Value=@SelectedValue Data=@DropdownData AllowClear=true />
</div>

@code {
    [Parameter]
    public string SelectedValue { get; set; }

    [Parameter]
    public List<string> DropdownData { get; set; }

    [Parameter]
    public string Label { get; set; }

}
