@using USIMentorshipWebApp.Data
@typeparam T

<div class="our-column mb-2">
    <label>@Label</label>
    <RadzenDropDown class="dropdown-width" @bind-Value=@SelectedValues Data=@DropdownData TextProperty=@DisplayedProperty ValueProperty=@ValueProperty Name="NeededANameForSomeReason"
                    Multiple=true AllowClear=true Placeholder="" Chips=true Style="max-width:160px;"/>
    
</div>

@code {
    [Parameter]
    public string Label { get; set; }

    [Parameter]
    public List<string>? SelectedValues { get; set; }

    [Parameter]
    public List<T>? DropdownData { get; set; }
    
    //the ValueProperty parameter is used for the underlying data
    [Parameter]
    public string ValueProperty { get; set; }

    //the TextPropery is just what is displayed from that object
    [Parameter]
    public string DisplayedProperty { get; set; }

    //if you set data to just a list, you would not need to specify
    //the  parameters, but for this we want to make sure we can
    //modify the selected data and get that ID
}